<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}events.html">Tech Events</a></li>
                <li><a href="{{ site.baseurl }}projects.html">Projects</a></li>
                <li><a target="_blank" href="https://drive.google.com/open?id=1_3hDXEuZkYFlgZVcTwewK-HavJ2PHWcG">Resume</a></li>
            </ul>
        </div>
    </div>
</nav>