<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://paoaykumakaway.github.io" target="_blank">Byaheng Norte</a></strong>
			- An interactive mobile app for Tourist of Ilocos Norte
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Swagger Spring Boot</a></strong>
			- An example of implementation of Swagger in Spring Boot applications.
		</h5>
    </div>
  </div>
</div>
</section>
