<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="" target="_blank">Balik Alindog Tracker</a></strong>
			- An app that tracks my weight [WIP]
    </h5>
    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://paoaykumakaway.github.io" target="_blank">Byaheng Norte</a></strong>
			- An interactive mobile app for Tourist of Ilocos Norte
		</h5>
    </div>
  </div>
</div>
</section>
